body {
  margin: none;
  background: mediumpurple;
}
.container {
  margin: auto;
  margin-top: 10vh;
  border: none;
  outline: none;
  box-shadow: 0.1px 0.5px 1.1px 0.9px rgb(255, 255, 255);
  width: 70vh;
  height: 70vh;
  color: black;

  background: white;
  border-radius: 15px;
}
.register input {
  color: black;
  width: 95%;
  height: 08vh;
  margin-top: 25px;
  margin-left: 7px;
  text-align: center;
  border: none;
  outline: none;
  border-bottom: 1px solid purple;

  background: white;
}

.register button {
  width: 97%;
  height: 08vh;
  margin-top: 30px;
  margin-left: 7px;
  text-align: center;
  border: 1px solid purple;
  background: purple;
  border-radius: 13px;
  color: black;
}
.submit:hover {
  background: purple;
}
